[submodule "_ref/YoudaoTranslate"]
	path = _ref/YoudaoTranslate
	url = https://github.com/wensonsmith/YoudaoTranslate.git
[submodule "_ref/AlfredSwitchWindows"]
	path = _ref/AlfredSwitchWindows
	url = https://github.com/mandrigin/AlfredSwitchWindows.git
[submodule "_ref/alfred-pangu-workflow"]
	path = _ref/alfred-pangu-workflow
	url = https://github.com/DeppWang/alfred-pangu-workflow.git
